<a class="return" [routerLink]="['/users']" title="Return">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row justify-content-around mt-3">
    <div class="col-sm-12 col-md-10 col-lg-9 mx-auto table-responsive">
        <form *ngIf="user && roles">

            <h4 class="text-muted"><span>User Information</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" class="form-control" id="email" [(ngModel)]="user.email" readonly />
                </div>
                <div class="col-sm-6">
                    <label for="role">User Role</label>
                    <select name="role" class="custom-select" id="role" [(ngModel)]="user.role_id" [disabled]="user.role_id == 2">
                        <option selected>Select an user role</option>
                        <option *ngFor="let role of roles" [value]="role.id">{{ role.type }}</option>
                    </select>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="firstName">First Name</label>
                    <input type="text" name="f_name" class="form-control" id="firstName" [(ngModel)]="user.first_name" />
                </div>
                <div class="col-sm-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="l_name" class="form-control" id="lastName" [(ngModel)]="user.last_name" />
                </div>
            </div>

            <h4 class="text-muted">Profile Picture</h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="custom-file">
                        <input id="fileInput" name="profile_pic" class="custom-file-input" #fileInput type="file" accept="image/*" title="Choose an image to upload as profile picture" />
                        <label class="custom-file-label" for="fileInput">Choose picture</label>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary float-right" (click)="submitForm()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>