<div class="row justify-content-around mt-3">
    <div class="col-sm-12 col-md-10 col-lg-9 mx-auto table-responsive">
        <form *ngIf="settings">

            <h4 class="text-muted"><span>Business Information</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="businessName">Name of business</label>
                    <input type="text" name="bname" class="form-control" id="businessName" [(ngModel)]="settings.company_name" autofocus required />
                </div>
                <div class="col-sm-6">
                    <label for="prefix">Prefix for invoice number</label>
                    <input type="text" name="prefix" class="form-control" id="prefix" [(ngModel)]="settings.invoice_prefix" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="businessNumber">Business Number</label>
                    <input type="text" name="bid" class="form-control" id="businessNumber" [(ngModel)]="settings.business_number" required />
                </div>
                <div class="col-sm-6">
                    <label for="vat">VAT Number</label>
                    <input type="text" name="vat" class="form-control" id="vat" [(ngModel)]="settings.vat" required />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="web">Website</label>
                    <input type="text" name="web" class="form-control" id="web" [(ngModel)]="settings.website" />
                </div>
                <div class="col-sm-6">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" class="form-control" id="phone" [(ngModel)]="settings.phone" />
                </div>
            </div>

            <h4 class="text-muted"><span>Bank</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="bank">Name of bank</label>
                    <input type="text" name="bank" class="form-control" id="bank" [(ngModel)]="settings.bank" required />
                </div>
                <div class="col-sm-6">
                    <label for="bankAccount">Bank Account</label>
                    <input type="text" name="bankaccount" class="form-control" id="bankAccount" [(ngModel)]="settings.bank_account" required />
                </div>
            </div>

            <h4 class="text-muted"><span>E-mail</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email">E-mail address</label>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="settings.email" required />
                </div>
                <div class="col-sm-6">
                    <label for="pass">Password</label>
                    <input type="password" name="pass" class="form-control" id="pass" [(ngModel)]="settings.password" required />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="smtp">SMTP server</label>
                    <input type="text" name="smtp" class="form-control" id="smtp" [(ngModel)]="settings.smtp" required />
                </div>
                <div class="col-sm-6">
                    <label for="port">SMTP Port</label>
                    <input type="number" name="port" class="form-control" id="port" [(ngModel)]="settings.smtp_port" required />
                </div>
            </div>

            <h4 class="text-muted"><span>Address</span></h4>

            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control" id="address" [(ngModel)]="settings.address" required />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="postal">Postal Code</label>
                    <input type="text" name="postal" class="form-control" id="postal" [(ngModel)]="settings.postal_code" required />
                </div>
                <div class="col-sm-6">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city" [(ngModel)]="settings.city" required />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country" [(ngModel)]="settings.country" required />
                </div>
                <div class="col-sm-6"></div>
            </div>

            <br />

            <h4 class="text-muted"><span>Logo</span></h4>

            <div class="form-group row">
                <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="logoweb" id="logoweb" [(ngModel)]="settings.show_logo" required />
                        <label class="custom-control-label" for="logoweb">Use logo on website</label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="logopdf" id="logopdf" [(ngModel)]="settings.show_logo_in_pdf" required />
                        <label class="custom-control-label" for="logopdf">Use logo in PDF</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="custom-file">
                        <input id="fileInput" name="logo" class="custom-file-input" #fileInput type="file" accept="image/*" title="Choose an image to upload as logo" (change)="setFileName()"/>
                        <label class="custom-file-label" for="fileInput">{{ fileLabel }}</label>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary float-right" (click)="submitForm()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>