::ng-deep .mat-card-header-text {
    flex: 1;
}

.content-card mat-card-actions a {
    float: right;
    width: 180px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.content-card mat-card-content table tbody tr td {
    padding: .4rem;
}

/* Datepicker icon */
.mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    font-size: 24px;
}

/* Material table */
.mat-table {
    overflow: auto;
    max-height: 750px;
    background: transparent;
}

mat-header-row {
    border-bottom-width: 2px !important;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

mat-row:last-child {
    border-bottom-width: 2px !important;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

mat-header-cell {
    font-size: 14px;
    font-weight: 600;
}

mat-header-cell:nth-child(1),
mat-header-cell:nth-child(2),
mat-header-cell:nth-child(3) {
    flex: 0 0 215px;
}

mat-header-cell:nth-child(4),
mat-header-cell:nth-child(5) {
    flex: 0 0 90px;
}

mat-header-cell:nth-child(6) {
    flex: 0 0 150px;
}

mat-header-cell:nth-child(7) {
    flex: 0 0 80px;
}

mat-cell:nth-child(1),
mat-cell:nth-child(2),
mat-cell:nth-child(3) {
    flex: 0 0 215px;
}

mat-cell:nth-child(4),
mat-cell:nth-child(5) {
    flex: 0 0 90px;
    margin-right: 15px;
}

mat-cell:nth-child(6) {
    flex: 0 0 150px;
}

mat-cell:nth-child(7) {
    flex: 0 0 80px;
}

mat-footer-row {
    margin-top: 1rem;
}

mat-footer-cell:last-child {
    justify-content: flex-end;
}

.add-button mat-icon {
    font-size: 2.3rem !important;
}
