a.btn {
    width: 150px;
}

label {
    font-weight: 500;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #787878;
    margin-left: 5px;
}

@media (max-width: 992px) {
    .row.form-group:last-child {
        text-align: center !important;
    }
    a.btn {
        width: 60%;
        height: 50px;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2.5;
    }
    a.btn.btn-primary:last-child {
        margin-bottom: 2.5rem;
    }
}