@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

$color-primary: #006bf6;
$color-primary-text: #fff;
$color-accent: #f9bf00;
$color-light: #f9f9f9;
$color-white: #fff;
$color-text: rgb(27, 27, 27);
$color-nav-link: #a8a8a8;
$color-nav-link-hover: rgb(56, 56, 56);
$color-nav-link-active: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgb(0, 134, 185);
  background: -webkit-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -moz-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -ms-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -o-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background-repeat: no-repeat;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows:
    9vh
    1fr
    3vh;
  min-height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background: $color-light;
}

footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  color: $color-primary-text;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: $color-primary;
  color: $color-primary-text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  box-shadow: 2px 0px 7px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;

  #nav-toggle {
    display: initial;
    align-self: flex-end;
    justify-self: center;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background: $color-primary;
    color: $color-primary-text;
    border: none;
    outline: none;
    font-size: 1.7rem;

    &.focus {
      color: $color-accent;
    }
  }

  .branding {
    position: absolute;

    h1 {
      font-size: 2rem;

      &::selection {
        background-color: rgba($color-accent, 1);
      }

      &::-moz-selection {
        background-color: rgba($color-accent, 1);
      }
    }
  }

  #nav-menu {
    position: absolute;
    left: 0;
    display: flex;
    z-index: 1;
    transform: translateY(-45vh);
    width: 100%;
    height: auto;
    background: $color-white;
    color: $color-text;
    opacity: 0;
    box-shadow: 0px 3px 14px 1px rgba(0, 0, 0, 0.3);
    transition: 1s transform, 0.3s opacity;
    transition-timing-function: ease;

    &.show {
      transition: 1s transform, 0.2s opacity;
      transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);

      opacity: 1;
      transform: translateY(22vh);
    }

    ul {
      background: $color-white;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        text-align: center;
        padding: 0.5rem;
        border-bottom: 1px solid #eee;

        a {
          color: $color-nav-link;
          font-size: 1.1rem;
          text-decoration: none;
          padding: 0.6rem;
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;

          &.active {
            color: $color-accent;
            font-weight: bold;
          }

          &:hover {
            color: $color-nav-link-hover;
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.2rem 0.4rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .card:nth-child(1) {
    .bar:after {
      content: "";
      width: 59%;
    }
  }

  .card:nth-child(2) {
    .bar:after {
      content: "";
      width: 25%;
    }
  }

  .card:nth-child(3) {
    .bar:after {
      content: "";
      width: 17%;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.4rem;
  padding: 0.8rem;
  background-color: $color-white;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);

  .card-column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0.8rem;

    h2 {
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-family: "Lato", sans-serif;
      font-size: 2.1rem;
      font-weight: bold;
    }

    h3 {
      margin-bottom: 0.5rem;
      font-family: "Lato", sans-serif;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .spacing {
      letter-spacing: 0.15rem;
    }

    p {
      align-self: center;
      justify-self: center;
      color: #a8a8a8;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: capitalize;
    }

    img {
      width: auto;
      height: 100%;
      margin-top: 1rem;
      object-fit: cover;
      border-left: 1px solid rgb(185, 185, 185);
      border-bottom: 1px solid rgb(185, 185, 185);
    }

    .bar {
      margin: 1rem 0 0 0;
      height: 10px;
      background-color: #ebebeb;
      border-radius: 5px;
      border: 1px solid #cccccc;
      box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15);

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        background-color: #f9bf00;
        border-radius: 6px;
      }
    }
  }
}

.flex {
  display: flex;
}
