<div class="container">

    <a class="return my-3" [routerLink]="['/invoices']" title="Return">
        <i class="fa fa-arrow-left"></i>
    </a>

    <div class="row mt-4">
        <div class="col-sm-12 col-md-12">
            <div class="form-horizontal" *ngIf="invoice">
                <div class="form-row my-4">
                    <div class="col-sm-12 col-md-6">
                        <label>Debtor</label>
                        <app-debtor-dropdown (chosenDebtor)="getDebtorChoice($event)"></app-debtor-dropdown>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="expired">Expiration Date</label>
                        <input type="date" class="form-control" id="expired" [(ngModel)]="invoice.expiration">
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
                <hr class="py-2" />
                <div class="form-row my-4">
                    <div class="col-sm-12 col-md-12">
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th width="25%">Name</th>
                                    <th width="30%">Description</th>
                                    <th width="15%" class="text-right">Price</th>
                                    <th width="8%" class="text-right">Qty</th>
                                    <th width="8%" class="text-right">Tax</th>
                                    <th width="8%" class="text-right">Discount</th>
                                    <th width="8%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row" *ngFor="let row of invoice.items;let i = index">
                                    <td>
                                        <input type="text" class="form-control" [(ngModel)]="row.product" required />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" [(ngModel)]="row.description" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="row.price" required />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="row.quantity" required />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="row.tax" required />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="row.discount" required />
                                    </td>
                                    <td class="text-center">
                                        <a class="btn-delete" (click)="deleteRow(row)" title="Remove">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-primary btn-sm" (click)="addRow()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <hr class="py-2" />
                <div class="form-row my-4">
                    <div class="col-sm-12 col-md-6">
                        <label for="comment">Comment</label>
                        <textarea rows="3" class="form-control" id="comment" [(ngModel)]="invoice.comment"></textarea>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>

                <button id="btnSave" type="button" class="btn btn-primary float-right my-4" (click)="submitForm()">Create</button>
            </div>
        </div>
    </div>
</div>