#btnSave {
    width: 150px;
}

.table thead {
    background: dodgerblue;
    color: #fff;
}

.table thead th {
    padding-left: 10px;
    padding-right: 10px;
}

.table tbody tr td {
    padding: 0.3rem;
}

.table tbody tr.table-row {
    background: #f2f2f2;
}

a.btn > i{
    color: #fff;
}

.btn-delete > i{
    background: transparent;
    border: none;
    font-size: 22px;
    color: darkred;
}

.btn-delete:hover > i{
    color: red;
    cursor: pointer;
}
