<mat-card class="content-card mat-elevation-z15">
    <mat-card-header>
        <a mat-icon-button class="return" [routerLink]="['/invoices']" title="Return">
            <mat-icon>keyboard_backspace</mat-icon>
        </a>

        <mat-card-title class="text-center">
            <h2>Edit Invoice</h2>
            <small class="text-muted" *ngIf="invoice.concept">Concept</small>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="invoice">
            <fieldset>
                <legend>Invoice Information</legend>
                <table cellspacing="0">
                    <tr class="text-left">
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>plus_one</mat-icon>
                                <input type="text" matInput placeholder="Invoice Number" name="invoice_number" value="{{ settings.invoice_prefix}}{{ invoice.invoice_number }}" disabled tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>person</mat-icon>
                                <input matInput placeholder="Debtor" type="text" name="debtor_id" disabled *ngIf="invoice.debtor.company_name == null" value="{{ invoice.debtor.id }}&emsp;{{ invoice.debtor.first_name }} {{ invoice.debtor.last_name }}" />
                                <input matInput placeholder="Debtor" type="text" name="debtor_id" disabled *ngIf="invoice.debtor.company_name != null" value="{{ invoice.debtor.id }}&emsp;{{ invoice.debtor.company_name }}" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <br />

                <table cellspacing="0">
                    <tr class="text-left">
                        <td>
                            <mat-form-field class="half-width-field">
                                <input matInput name="creation_date" [matDatepicker]="creationPicker" [(ngModel)]="begin | date: 'yyyy-MM-dd'" [min]="minDate" placeholder="Invoice Date" (dateChange)="setExpired()">
                                <mat-datepicker-toggle matSuffix [for]="creationPicker"></mat-datepicker-toggle>
                                <mat-datepicker #creationPicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="half-width-field">
                                <input matInput name="expiration_date" [matDatepicker]="expirationPicker" [(ngModel)]="expiration | date: 'yyyy-MM-dd'" [min]="minDate" placeholder="Expiration Date" (dateChange)="setExpired()">
                                <mat-datepicker-toggle matSuffix [for]="expirationPicker"></mat-datepicker-toggle>
                                <mat-datepicker #expirationPicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>Invoice Details</legend>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>attach_money</mat-icon>
                                <input type="text" matInput [(ngModel)]="invoice.total" placeholder="Total" name="totalprice" disabled currencyMask tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>attach_money</mat-icon>
                                <input type="text" matInput [(ngModel)]="invoice.discount" placeholder="Discount" name="discount" currencyMask tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <br />

                <mat-table #table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Name" name="name_{{i}}" [value]="item.name" [(ngModel)]="item.name" disabled>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Desc. </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Description" name="desc_{{i}}" [value]="item.description" [(ngModel)]="item.description" disabled>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Price" name="price_{{i}}" [(ngModel)]="item.price" disabled currencyMask>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> Qty. </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Qty." name="qty_{{i}}" min="1" [(ngModel)]="item.quantity" [value]="item.quantity" disabled>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <!-- Tax Column -->
                    <ng-container matColumnDef="tax">
                        <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Tax" name="tax_{{i}}" min="0" [(ngModel)]="item.tax" [value]="item.tax" disabled>
                            </mat-form-field>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <!-- Total Column -->
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                        <mat-cell *matCellDef="let item;let i = index;">
                            &euro; {{ item.total | number:'1.2-2' }}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                </mat-table>

                <br />

                <table cellspacing="0">
                    <tr class="text-left">
                        <td>
                            <mat-form-field class="half-width-field">
                                <mat-label>Comment</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="3"
                                          cdkAutosizeMaxRows="5"
                                          name="comment"
                                          [(ngModel)]="invoice.comment"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle name="save_concept" [(ngModel)]="invoice.concept">Save invoice as concept</mat-slide-toggle>

        <br />

        <button class="mat-elevation-z2" mat-flat-button color="primary" (click)="submitForm()">Save</button>
    </mat-card-actions>
</mat-card>