/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Overpass|Raleway|Roboto');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/

/*-------------------------------------------------------------------------------------*/
/*----- Main --------------*/

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    font-family: 'Overpass', sans-serif !important;
}

body {
    font-family: 'Overpass', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    min-width: 600px;
    width: auto !important;
    width: 600px;
}

/*-------------------------------------------------------------------------------------*/
/*----- Input --------------*/

mat-input {
    padding: 10px;
}

/*-------------------------------------------------------------------------------------*/
/*----- Buttons --------------*/

.edit-button mat-icon {
    color: mediumseagreen;
}

.delete-button mat-icon {
    color: red;
}

.download-button mat-icon {
    color: limegreen;
}

/*-------------------------------------------------------------------------------------*/
/*----- Fieldset --------------*/

fieldset {
    border: 2px solid #d0d0d0;
    margin: 0 2px;
    padding: 20px 10px;
    margin: 2rem auto;
    width: 85%;
}

legend {
    font-weight: 300;
    padding: 4px 10px 4px 8px;
    display: block;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    width: auto;
}

@media screen and (max-width: 767px) {
    fieldset {
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
    }
}

/*-------------------------------------------------------------------------------------*/
/*----- Material Card --------------*/

.content-card {
    width: 75vw;
    position: absolute !important;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #616161;
    padding: 3rem !important;
}

.content-card mat-card-title h2 {
    margin-bottom: 2rem;
    font-weight: 600;
}

.content-card mat-card-content {
    text-align: center;
    margin-top: 3rem;
}

.content-card mat-card-actions {
    margin-top: 3rem;
}

.content-card mat-card-content table {
    width: 100%;
    margin: 0 auto;
}

.content-card mat-card-content table tbody tr td {
    padding: 1.4rem 2rem;
}

.content-card mat-card-title mat-divider {
    width: 90% !important;
    left: 50% !important;
    transform: translateX(-50%);
    border-top-color: rgba(0, 0, 0, 0.35);
}

.full-width-field {
    width: 100%;
}

.half-width-field {
    width: 50%;
}

.third-width-field {
    width: 33%;
}

.full-width-field input,
.half-width-field input,
.third-width-field input {
    padding: 4px;
}

mat-icon {
    margin: 0 14px 10px 0;
    font-size: 25px !important
}

/*-------------------------------------------------------------------------------------*/
/*----- Links --------------*/

.return {
    position: absolute !important;
    left: 4%;
    top: 3%;
}

.return mat-icon {
    font-size: 2rem !important;
    font-weight: bold;
    color: #35428b;
}

.return:hover mat-icon {
    color: #2e3b82;
}