a.btn {
    width: 150px;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    transform: scale(1.5) translateY(-50%) !important;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(1.5);
    opacity: 1;
    transition: all .3s ease-in;
    color: red;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1);
    opacity: 1;
    color: green;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .8;
}

@media (max-width: 992px) {
    .row.form-group:last-child {
        text-align: center !important;
    }

    a.btn {
        width: 60%;
        height: 50px;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2;
    }
}