form {
    position: relative;
    top: 40%;
}

label {
    font-weight: 500 !important;
}

button.btn {
    width: 130px;
}

@media (max-width: 992px) {
    form {
        top: 20%;
    }

    .row.form-group:last-child {
        text-align: center !important;
    }

    button.btn {
        width: 60%;
        height: 50px;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2;
    }
}