<a class="return my-3" [routerLink]="['/login']" title="Return to sign in">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
        <form>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email" autofocus>
            </div>

            <button type="button" class="btn btn-primary mt-3 float-right" (click)="resetPassword()">Reset</button>
        </form>
    </div>
</div>