<div class="row justify-content-around">
    <div class="col-sm-10 col-md-8 col-lg-5 mx-auto">
        <form>
            <div class="form-group">
                <label for="email">E-mail</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="email-addon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email" placeholder="E-mail"
                        aria-describedby="email-addon" autofocus required autocomplete="email" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-light mt-3 float-right" routerLink="/">Cancel</button>
                    <button type="button" class="btn btn-primary mt-3 mr-2 float-right" (click)="resetPassword()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-modal [title]="'Password Reset'" [showModal]="show" [redirectOnClose]="true" [redirectTo]="'/login'">
    <modal-body>
        <p>
            Your temporary password has been sent to your email address.
        </p>
    </modal-body>
</app-modal>
