@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

$color-primary: #006bf6;
$color-primary-text: #fff;
$color-accent: #f9bf00;
$color-light: #f9f9f9;
$color-white: #fff;
$color-text: rgb(27, 27, 27);
$color-nav-link: #a8a8a8;
$color-nav-link-hover: rgb(56, 56, 56);
$color-nav-link-active: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgb(0, 134, 185);
  background: -webkit-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -moz-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -ms-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: -o-linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background: linear-gradient(45deg, rgba(0, 134, 185, 1) 0%, rgba(68, 204, 255, 1) 100%) fixed;
  background-repeat: no-repeat;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows:
    9vh
    1fr
    3vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  grid-area: header;
  display: flex;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background: $color-light;
}

footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  color: $color-primary-text;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  z-index: 1;
  background: $color-primary;
  color: $color-primary-text;
  box-shadow: 2px 0px 7px 1px rgba(0, 0, 0, 0.3);

  #nav-toggle {
    align-self: flex-end;
    justify-self: center;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background: $color-primary;
    color: $color-primary-text;
    border: none;
    outline: none;
    font-size: 1.7rem;

    &.focus {
      color: $color-accent;
    }
  }

  .branding {
    position: absolute;

    h1 {
      font-size: 2rem;

      &::selection {
        background-color: rgba($color-accent, 1);
      }

      &::-moz-selection {
        background-color: rgba($color-accent, 1);
      }
    }
  }

  #nav-menu {
    position: absolute;
    left: 0;
    z-index: 1;
    top: -75vh;
    width: 100%;
    height: auto;
    background: $color-white;
    color: $color-text;
    opacity: 0;
    box-shadow: 0px 3px 14px 1px rgba(0, 0, 0, 0.3);
    transition: 1s transform, 0.3s opacity;
    transition-timing-function: ease;

    &.show {
      transition: 1s transform, 0.2s opacity;
      transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
      opacity: 1;
      transform: translateY(calc(75vh + 9vh));
    }

    ul {
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: $color-white;
      list-style-type: none;

      li {
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid #eee;

        a {
          display: block;
          margin: 0 auto;
          padding: 0.6rem;
          width: 100%;
          height: 100%;
          color: $color-nav-link;
          font-size: 1.1rem;
          text-decoration: none;

          &.active {
            color: $color-accent;
            font-weight: bold;
          }

          &:hover {
            color: $color-nav-link-hover;
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.2rem 0.4rem;
}

.welcome-section {
  display: none;
}

.card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .card:nth-child(1) {
    .bar:after {
      content: "";
      width: 59%;
    }
  }

  .card:nth-child(2) {
    .bar:after {
      content: "";
      width: 25%;
    }
  }

  .card:nth-child(3) {
    .bar:after {
      content: "";
      width: 17%;
    }
  }
}

.card {
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.4rem;
  padding: 0.8rem;
  background-color: $color-white;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);

  .card-column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0.8rem;

    h2 {
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-family: "Lato", sans-serif;
      font-size: 2.1rem;
      font-weight: bold;
    }

    h3 {
      margin-bottom: 0.5rem;
      font-family: "Lato", sans-serif;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .spacing {
      letter-spacing: 0.15rem;
    }

    p {
      align-self: center;
      justify-self: center;
      color: #a8a8a8;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: capitalize;
    }

    img {
      width: auto;
      height: 100%;
      margin-top: 1rem;
      object-fit: cover;
      border-left: 1px solid rgb(185, 185, 185);
      border-bottom: 1px solid rgb(185, 185, 185);
    }

    .bar {
      margin: 1rem 0 0 0;
      height: 10px;
      background-color: #ebebeb;
      border-radius: 5px;
      border: 1px solid #e4e4e4;
      box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.15);

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        background-color: #f9bf00;
        border-radius: 6px;
      }
    }
  }
}

.table-section {
  width: 100%;
}

.table {
  width: 100%;
  margin: 0.4rem;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
  background-color: $color-light;

  thead {
    border-bottom: 3px solid rgb(252, 252, 252);

    tr {
      width: 100%;
      background-color: rgba($color-light, 0);

      th {
        padding: 0.5rem;
        border: 1px solid transparent;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  tbody {
    width: 100%;
    background-color: $color-white;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.3);

    tr {
      border-bottom: 1px solid #eee;

      td {
        padding: 0.5rem;
        text-align: center;
        border: 1px solid #fff;

        &:nth-child(3)::before {
          content: "€";
          font-weight: 600;
          color: rgb(102, 102, 102);
          padding-right: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 1101px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .wrapper {
    width: 80vw;
    height: 95vh;
    grid-template-areas:
      "header"
      "main";
    grid-template-rows:
      9vh
      1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  }

  footer {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;

    #nav-toggle {
      display: none;
    }

    .branding {
      position: absolute;

      h1 {
        margin-left: 1.5rem;
        font-size: 2.4rem;
      }
    }

    #nav-menu {
      display: flex;
      position: absolute;
      right: 0;
      left: unset;
      top: 0;
      width: 50%;
      height: 100%;
      margin-right: 2rem;
      background: $color-primary;
      color: #1b1b1b;
      opacity: 1;
      box-shadow: none;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: $color-primary;
        list-style-type: none;

        li {
          padding: 0.5rem;
          text-align: center;
          border-bottom: none;

          &.spacer {
            margin-left: 3rem;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0.6rem;
            color: #e6e6e6;
            font-size: 1.1rem;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
              color: $color-accent;
              font-weight: bold;
            }

            &:hover {
              color: $color-white;
            }

            &::selection {
              background-color: rgba($color-accent, 1);
            }

            &::-moz-selection {
              background-color: rgba($color-accent, 1);
            }
          }

          p {
            display: inline-block;
            height: 100%;
            margin: 0 auto;
            padding: 0.6rem 0.2rem;
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 0.06rem;
          }

          #more-toggle {
            color: $color-white;
            cursor: pointer;

            &.focus {
              color: $color-accent;

              i {
                transform: rotate(-90deg);
              }
            }

            i {
              transition: transform 0.3s ease-in-out;
            }
          }
        }
      }
    }

    #more-menu {
      display: block;
      width: 15vw;
      height: auto;
      position: absolute;
      top: 100%;
      right: -15vw;
      z-index: 1;
      opacity: 0;
      background-color: $color-white;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      transition: 1s transform, 0.3s opacity;
      transition-timing-function: ease;

      &.show {
        transition: 1s transform, 0.2s opacity;
        transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
        opacity: 1;
        transform: translateX(calc(-15vw - 1vw));
      }

      li {
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid #eee;
        list-style-type: none;

        a {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          padding: 0.4rem;
          font-size: 1rem;
          font-weight: 500;
          text-decoration: none;
          color: #6f6f6f;
          text-transform: uppercase;

          &.active {
            color: $color-accent;
            font-weight: bold;
          }

          &:hover {
            font-weight: 600;
            color: #222;
          }
        }
      }
    }
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .welcome-section {
    display: flex;
    width: 95%;
    flex-direction: row;
    margin: 0 auto 3rem auto;

    h2 {
      margin-left: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      font-size: 1.2rem;
    }
  }

  .card-section {
    display: flex;
    width: 95%;
    flex-direction: row;
    margin: 0 auto;

    .card {
      width: 100%;
      height: 250px;
      margin: 0;
      padding: 1.2rem;

      &:nth-child(4) {
        .card-column {
          min-height: auto;
        }
      }
    }

    .card-column {
      min-height: calc(100% - 1.6rem);

      .flex {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
      }

      .card {
        width: 100%;
        height: auto;
        margin: 0;
      }

      p {
        align-self: flex-start;
        font-size: 1.1rem;
      }

      h2 {
        font-size: 3rem;
      }
    }
  }

  .table-section {
    width: 96%;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .table {
    width: calc(100% - 0.4rem);

    tbody tr td {
      padding: 0.9rem 0.7rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  #more-menu {
    display: none;
  }

  .table {
    width: calc(100% - 0.4rem - 5px);
    border: 0;
  }

  .table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: none;
    clip: rect(0 0 0 0);
  }

  .table tr {
    display: block;
    padding: 1rem 0;
    border-bottom: 3px solid #f8f8f8 !important;

    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }

  .table td {
    display: block;
    margin-right: 2.5rem;
    padding: 0 !important;
    border: none !important;
    font-size: 0.9rem;
    text-align: right !important;
  }

  .table td::before {
    content: attr(data-label) !important;
    display: block;
    margin-left: 1.5rem;
    width: 40%;
    float: left;
    color: #404040 !important;
    font-weight: bold;
    text-align: left !important;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}

.flex {
  display: flex;
}
