<div class="container">

  <!-- Row -->
  <h3 class="text-center" *ngIf="invoices.length == 0">No invoices.</h3>
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">

      <ul class="list-group" *ngIf="invoices.length > 0">
        <li class="list-group-item" *ngFor="let invoice of invoices">
          <a [routerLink]="['details', invoice.invoice_number]">
            {{invoice.invoice_number}} - &euro;{{invoice.total}} aan {{debtor.first_name}} {{debtor.last_name}}
          </a>
          <span class="list-icons">
            <button class="btn-edit" [routerLink]="['edit', invoice.invoice_number]" title="Edit">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn-delete" type="button" (click)="deleteUser(invoice.invoice_number)" title="Remove">
              <i class="fa fa-trash"></i>
            </button>
          </span>
        </li>
      </ul>

      <a href="#" [routerLink]="['create']" class="btn btn-primary btn-sm mt-3" title="Create invoice">
        <i class="fa fa-plus"></i>
      </a>

    </div>
  </div>

  <!-- End of container -->
</div>