<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
        <h3 class="text-center">Welcome, {{ currentUser?.first_name }}</h3>
    </div>
</div>

<p class="text-center mt-2" *ngIf="this.invoice_count[0]===0 && this.invoice_count[1]===0">
    There currently are no invoices.
</p>

<div class="row mt-5 mx-auto" [hidden]="this.invoice_count[0] === 0 && this.invoice_count[1] === 0">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="mx-auto">
            <canvas id="chart-one"></canvas>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="mx-auto">
            <canvas id="chart-two"></canvas>
        </div>
    </div>
</div>