<ng-container *ngIf="currentUser.role_id == 1">
    <p class="text-center" *ngIf="this.admin_invoice_count[0]===0 && this.admin_invoice_count[1]===0">
        There currently are no invoices.
    </p>
</ng-container>

<ng-container *ngIf="currentUser.role_id == 2">
    <p class="text-center" *ngIf="this.debtor_invoice_count[0]===0 && this.debtor_invoice_count[1]===0">
        There currently are no invoices.
    </p>
</ng-container>

<!-- Admin charts -->
<ng-container *ngIf="currentUser.role_id == 1">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
            <div class="card mx-auto" [hidden]="this.admin_invoice_count[0] === 0 && this.admin_invoice_count[1] === 0">
                <div class="card-header">
                    Pending & Collected Invoices
                </div>
                <div class="card-body">
                    <canvas class="mr-auto" id="chart-one" style="width: 100% !important;min-height: 190px !important;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
            <div class="card mx-auto" [hidden]="this.admin_invoice_cash[0] === 0 && this.admin_invoice_cash[1] === 0">
                <div class="card-header">
                    Outstanding & Paid Amounts
                </div>
                <div class="card-body">
                    <canvas class="mr-auto" id="chart-two" style="width: 100% !important;min-height: 190px !important;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card mx-auto">
                <div class="card-header">
                    To be continued
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium incidunt veniam illo quam earum
                    consequatur vel, veritatis dolorum laboriosam, quas quos. Facilis est dolor fugiat dolores nam
                    earum ab omnis.
                    Accusantium ipsam praesentium quasi mollitia inventore est magnam itaque id pariatur perspiciatis?
                    Reprehenderit laudantium maxime ipsa dolore sit odit quas mollitia ratione harum repudiandae,
                    assumenda at impedit totam nihil ipsum.
                    Eius itaque totam dolorum adipisci, ut ad vitae, exercitationem beatae officiis eum magnam nam.
                    Eaque nisi quam unde voluptates, libero illo harum atque aliquam aspernatur accusantium quas
                    corporis eius perferendis.
                    Dolore consectetur aspernatur nobis nulla vel eveniet deserunt dicta praesentium eius pariatur
                    reprehenderit, quia assumenda rem quos? Cum ab obcaecati, magni accusamus laudantium id neque vel
                    aliquam consequuntur tenetur sed?
                    Porro tenetur inventore soluta perspiciatis velit, aperiam saepe impedit distinctio quis iusto
                    doloremque aut sint molestias dolore dicta laboriosam nemo et quod animi eligendi vitae quisquam?
                    Ea perspiciatis deserunt aut?
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Debtor charts -->
<ng-container *ngIf="currentUser.role_id == 2">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
            <div class="card mx-auto" [hidden]="this.debtor_invoice_cash[0] === 0 && this.debtor_invoice_cash[1] === 0">
                <div class="card-header">
                    Outstanding & Paid Amounts
                </div>
                <div class="card-body">
                    <canvas class="mr-auto" id="chart-two" width="700" height="370"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
            <div class="card mx-auto" [hidden]="this.debtor_invoice_count[0] === 0 && this.debtor_invoice_count[1] === 0">
                <div class="card-header">
                    Pending & Collected Invoices
                </div>
                <div class="card-body">
                    <canvas class="mx-auto" id="chart-one" width="600" height="370"></canvas>
                </div>
            </div>
        </div>
    </div>
</ng-container>
