::ng-deep .mat-card-header-text {
    flex: 1;
}

.content-card mat-card-content table tbody tr td {
    padding: .4rem;
}

.data-table {
    width: 90% !important;
}

.data-table thead {
    border-bottom: 1px solid #c2c2c2;
}

.data-table thead > tr > th {
    font-size: 16px;
    font-weight: 600;
    padding: 0.4rem;
    color: #383838;
}

.data-table thead > tr > th:nth-child(1),
.data-table thead > tr > th:nth-child(2) {
    width: auto;
}

.data-table thead > tr > th:nth-child(3) {
    width: 15%;
}

.data-table tbody > tr > td:nth-child(3) {
    text-align: center;
}

.data-table tbody > tr {
    border-bottom: 1px solid #d7d5d5;
}

.data-table tbody > tr:hover {
    background: rgba(191, 191, 191, 0.24);
}

.data-table tbody > tr:hover > td {
    font-weight: 600;
}

.data-table tbody > tr > td {
    font-size: 15px;
    font-weight: 500;
}

#search-form {
    position: relative;
    height: auto;
    width: 90%;
    margin: 4rem 0 2rem 0;
}

#search {
    margin: 0 4rem 0 8rem;
}

#add-invoice-button {
    margin-right: 1rem;
    padding: 0;
    height: 50px;
}

#add-invoice-button mat-icon {
    margin: 0;
}
