<mat-card class="content-card mat-elevation-z15">
    <mat-card-header>
        <a mat-icon-button class="return" [routerLink]="['/users']" title="Return">
            <mat-icon>keyboard_backspace</mat-icon>
        </a>

        <mat-card-title class="text-center">
            <h2>Create User</h2>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="user && roles">
            <fieldset>
                <legend>User Information</legend>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>alternate_email</mat-icon>
                                <input type="email" matInput [(ngModel)]="user.email" placeholder="E-mail" name="email" autofocus required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <span matPrefix style="margin-right: 8px;">
                                    <mat-icon>assignment_ind</mat-icon>
                                </span>

                                <mat-select placeholder="User Role" [(value)]="user.role_id" required>
                                    <mat-option *ngFor="let role of roles" [value]="role.id">
                                        {{ role.type }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>account_box</mat-icon>
                                <input type="text" matInput [(ngModel)]="user.first_name" placeholder="First Name" name="fname" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>account_box</mat-icon>
                                <input type="text" matInput [(ngModel)]="user.last_name" placeholder="Last Name" name="lname" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>Profile Picture</legend>
                <table cellspacing="0">
                    <tr>
                        <td class="half-width-field text-left">
                            <div class="custom-file">
                                <input id="fileInput" name="profile_pic" class="custom-file-input" #fileInput type="file" accept="image/*" title="Choose an image to upload as profile picture" (change)="setFileName()" />
                                <label class="custom-file-label" for="fileInput">{{ fileLabel }}</label>
                            </div>
                        </td>
                        <td class="half-width-field"></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button class="mat-elevation-z2" mat-flat-button color="primary" (click)="submitForm()">Create</button>
    </mat-card-actions>
</mat-card>