<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
        <form>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email" autofocus>
            </div>
            <div class="form-group mt-4">
                <a [routerLink]="['/forgot']" class="text-primary pull-right" title="Forgot your password?">Forgot password?</a>

                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password">
            </div>

            <button type="button" class="btn btn-primary mt-3 float-right" (click)="checkCredentials()">Sign In</button>
        </form>
    </div>

</div>