@import '../vars.scss';

/* Navbar */

.navbar {
    height: $navbarHeight;
    left: 0;
    background: $navbar-primary;
    color: $navbar-text;
    z-index: 3;

    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }

    /* Logo */
    .logo {
        height: $navbarHeight;
        width: 250px;

        .navbar-brand {
            color: $navbar-text;
            font-size: 2rem;
            font-weight: 500;
            line-height: 80px;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }

        .navbar-logo {
            display: block;
            max-width: 300px;
            height: auto;
            margin: 0 auto;
            padding: 0;
            max-height: $navbarHeight;
        }
    }

    /* Navbar toggle button for mobile */
    .navbar-toggler i {
        color: $navbar-text;
        border-color: $navbar-text;
    }

    /* Mobile navbar */
    #mobileMenu {
        z-index: 999;
        position: absolute;
        top: 65px;
        width: 100vw;
        left: 0;
        border-top: 2px solid #ffffff;

        .nav-item {
            background-color: $navbar-primary;
            border-bottom: .5px solid rgba(255, 255, 255, 0.17);

            &:hover {
                background: $navbar-hover;
            }

            .active {
                background-color: $navbar-hover;
            }

            a {
                color: #fff;
                padding: 1.3rem .5rem;
                text-align: center;
                font-family: 'Nunito', sans-serif;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }

    /* Mobile menu nav items*/
    .navbar-nav {
        width: 100%;
        justify-content: flex-end;

        &:nth-child(2) .nav-item {
            text-align: center;
            margin: 0 .3rem;

            .nav-link {
                display: block;
                padding: 0rem .5rem 0rem .5rem;
                height: 100%;
            }

            &:hover .profile {
                border: 2px solid rgba(255, 255, 255, 0.60);
            }

            .sign-out {
                color: #dc0000;
                font-size: 1.5rem;
                line-height: $navbarHeight;
                text-align: center;

                &:hover {
                    color: #ff0000;
                }
            }

            .settings {
                font-size: 22px;
                padding: 0.5rem .7rem 0rem .8rem;
                text-align: center;
            }

            .profile {
                max-height: 55px;
                height: auto;
                max-width: 55px;
                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, 0.2);
                z-index: 999999;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .navbar-nav:nth-child(2) .nav-item .navbar-nav:nth-child(2) .nav-item .navbar-toggler {
                position: absolute;
                right: 20px;
                top: 20px;
                color: $navbar-text;
                border-color: $navbar-text;
                display: none;
            }
        }
    }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Main */

main {
    position: absolute;
    left: $sidebarWidth;
    top: $navbarHeight;
    bottom: 0;
    width: $mainWidth;
    height: auto;
    overflow-y: auto;
    padding: .3rem 1rem !important;

    .page-title {
        background-color: $header-bg;
        border-bottom: $header-border;
        padding: 10px 20px;
        font-weight: 700;
        color: $header-text;
        font-size: 1.2rem;
        width: 100%;
        height: $pageTitleHeight;
        position: absolute;
        left: 0;
        top: 0;
    }

    .full {
        width: $fullWidth;
    }

    .router-title {
        position: absolute;
        left: 0;
        top: $pageTitleHeight;
        right: 0;
        bottom: 0;
        padding-top: 2rem;
    }

    .router {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 2rem;
    }
}

.full-width {
    left: 0;
    top: $navbarHeight;
    bottom: 0;
    overflow-y: auto;
    overflow-x: auto;
    width: $fullWidth;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Sidebar */

.sidebar {
    position: absolute;
    width: $sidebarWidth;
    height: calc(100vh - $navbarHeight);
    top: $navbarHeight;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background: $navbar-primary;
    padding-left: 0;
    padding-right: 0;

    .nav {
        height: 100%;

        .nav-item {
            width: 100%;
            font-family: 'Nunito', sans-serif;

            a {
                padding: .7rem .5rem .7rem 1.2rem;
                color: #ddd !important;
                text-align: left;
                font-family: 'Nunito', sans-serif;

                i {
                    width: 25px;
                    height: 25px;
                    font-size: 1.4rem;
                    transition: all ease-in 200ms;
                }

                span {
                    font-size: 1.1rem;
                    padding-left: .4rem;
                }

                +.nav-item {
                    margin-left: 0;
                }

                &:hover {
                    background: $navbar-hover;
                    color: $navbar-text;
                }
            }

            .nav-link.active {
                background: $navbar-active !important;
                color: $navbar-text;
            }
        }

        .bottom {
            position: absolute !important;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Media Queries */

@media (max-width: 992px) {
    .navbar {
        left: 0 !important;
        height: $navbarHeightSmall;

        .navbar-collapse {
            z-index: 999;
            position: absolute;
            top: 0px;
            width: 100vw;
            left: 0px;
        }

        .navbar-toggler {
            margin: 0 0 1rem 0;
            display: block;
        }

        .logo {
            height: $navbarHeightSmall;
            width: auto;

            .navbar-brand {
                font-size: 2rem;
                line-height: 50px;
            }

            .navbar-logo {
                max-width: auto;
                max-height: $navbarHeightSmall;
            }
        }
    }

    main {
        left: 0 !important;
        width: 100vw;
        padding: 14px 10px;
        top: 55px !important;

        .page-title {
            padding: 13px 20px;
            height: 55px;
            font-size: 1.3rem;
        }
    }

    .show-md {
        display: none;
    }

    .show-sm {
        display: block;
        font-size: 26px;
    }

    .navbar-logo {
        display: block;
        max-height: 65px;
        height: 100%;
        position: absolute;
        top: .8rem;
        left: 50%;
        transform: translateX(-50%);
        padding: .2rem;
    }
}

@media (min-width: 993px) and (max-width: 1400px) {
    .sidebar .nav-top {
        padding: 0px 5px 0px 5px;
    }

    .sidebar .nav-top a span {
        font-size: 1rem;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    main {
        left: $sidebarWidthSmall;
        width: $mainWidthSmall;
    }

    .sidebar {
        width: $sidebarWidthSmall;

        .nav-item a span {
            display: none;
        }

        .nav-item a {
            text-align: center;

            i {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 993px) {
    .show-md {
        display: block;
        font-size: 24px;
    }

    .show-sm {
        display: none;
    }

    .title-bar {
        display: none;
    }

    .navbar-logo {
        display: none;
    }
}
