<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <h1 class="navbar-brand">{{ title }}</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation" *ngIf="isSignedIn && currentUser != null">
        <i class="fa fa-navicon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navBar" *ngIf="isSignedIn && currentUser != null">
        <ul class="navbar-nav mr-auto d-md-flex d-lg-none" id="mobileMenu">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [hidden]="currentUser.role_id == 2">
                <a [routerLink]="['/debtors']" class="nav-link" routerLinkActive="active">Debtors</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/invoices']" class="nav-link" routerLinkActive="active" >Invoices</a>
            </li>
            <li class="nav-item"data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/users']" class="nav-link" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a [routerLink]="['/settings']" class="nav-link settings" routerLinkActive="active">Settings</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link sign-out" style="cursor: pointer;" (click)="signOut()" title="Sign Out">
                    Sign Out
                </a>
            </li>
        </ul>

        <ul class="navbar-nav d-none d-lg-flex" *ngIf="isSignedIn && currentUser != null">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/users/edit', currentUser.email]" class="nav-link" href="#" title="{{currentUser.first_name}} {{currentUser.last_name}}">
                    <img class="profile" [src]="_sanitizer.bypassSecurityTrustUrl(currentUser.picture)" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sign-out" style="cursor: pointer;" (click)="signOut()" title="Sign Out">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="bg-faded sidebar d-none d-lg-block">
    <div class="nav-top">
        <a [routerLink]="['/']" class="navbar-brand" *ngIf="settings != null">
            <span *ngIf="!settings?.show_logo">{{ settings.company_name }}</span>
            <img *ngIf="settings?.show_logo" class="logo" [src]="_sanitizer.bypassSecurityTrustUrl(settings?.logo)" />
        </a>
    </div>
    <ul class="nav nav-pills flex-column" *ngIf="isSignedIn && currentUser != null">
        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home mr-2" aria-hidden="true"></i>Home
            </a>
        </li>
        <li class="nav-item" [hidden]="currentUser.role_id == 2">
            <a [routerLink]="['/debtors']" class="nav-link" routerLinkActive="active">
                <i class="fa fa-address-book mr-2" aria-hidden="true"></i>Debtors
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/invoices']" class="nav-link" routerLinkActive="active">
                <i class="fa fa-file-text mr-2" aria-hidden="true"></i>Invoices
            </a>
        </li>
        <li class="nav-item" [hidden]="currentUser.role_id == 2">
            <a [routerLink]="['/users']" class="nav-link" routerLinkActive="active">
                <i class="fa fa-users mr-2" aria-hidden="true"></i>Users
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column nav-bottom" *ngIf="isSignedIn && currentUser != null">
        <li class="nav-item" [hidden]="currentUser.role_id == 2">
            <a [routerLink]="['/settings']" class="nav-link" routerLinkActive="active">
                <i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings
            </a>
        </li>
    </ul>
</nav>

<main>
    <router-outlet class="container-fluid" (activate)="checkIfLoggedIn()"></router-outlet>
    <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
</main>