$navbarHeight: 80px;
$sidebarWidth: 11vw;
$mainWidth: calc(100vw - #{$sidebarWidth});

/* Navbar */
.navbar {
    height: $navbarHeight;
    left: $sidebarWidth;
    background: #fff;
}

.navbar .navbar-brand {
    width: 100%;
    margin-left: 50px;
    color: #333;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.navbar .nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;
}

.navbar .nav .nav-item .nav-link {
    display: block;
    padding: 0rem .5rem 0rem .5rem;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .nav .nav-item .sign-out {
    position: absolute;
    color: red !important;
    font-size: 22px;
    top: calc(80px - .5rem);
    transform: translateY(-55px);
    padding: 0.5rem .7rem 0rem .8rem;
}

.navbar .nav .nav-item:hover .sign-out {
    color: darkred !important;
}

.navbar .nav .nav-item .profile {
    position: absolute;
    max-height: 55px;
    height: auto;
    max-width: 55px;
    border-radius: 30%;
    border: 2px solid rgba(0, 123, 255, 0.30);
    margin-left: 15px;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-25%, -50%);
    z-index: 99999;
}

.navbar .nav .nav-item:hover .profile {
    border: 2px solid rgba(0, 123, 255, 0.60);
}

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 20px;
    color: dodgerblue;
    border-color: dodgerblue;
    display: none;
}

.navbar-toggler i {
    color: dodgerblue;
    border-color: dodgerblue;
}

#mobileMenu {
    box-shadow: 0px 3px 14px 0px #9c9c9c;
    z-index: 999;
    position: absolute;
    top: 75px;
    width: 90vw;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

#mobileMenu ul {
    margin: 0 auto;
}

#mobileMenu ul .nav-item .active {
    text-decoration: underline;
    font-weight: 600;
}

#mobileMenu ul .nav-item a {
    background-color: #fff;
    color: dodgerblue;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
}

/* Main */
main {
    position: fixed;
    left: $sidebarWidth;
    top: $navbarHeight;
    bottom: 0;
    overflow-y: auto;
    width: $mainWidth;
    height: 100%;
    padding: 30px 15px 5px 15px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: $sidebarWidth;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background: #424c56;
}
/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav-top {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    height: $navbarHeight;
    background: dodgerblue;
    line-height: 75px;
    padding: 0px 20px 0 15px;
}

.sidebar .nav-top a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar .nav {
    margin-top: $navbarHeight;
    margin-bottom: 20px;
}

.sidebar .nav-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.sidebar .nav-item {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.sidebar .nav-item a {
    padding: 10px 25px;
    color: #ddd !important;
    text-align: left;
}

.sidebar .nav-item:hover a {
    background: #30373f;
    color: #fff;
}

.sidebar .nav-item .nav-link.active {
    background: #30373f;
    color: #fff;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

@media(max-width: 992px) {
    .navbar {
        left: 0 !important;
    }

    .navbar-toggler {
        display: block;
    }

    main {
        left: 0 !important;
        width: 100vw;
    }
}