<h3 class="text-center" *ngIf="debtors?.length == 0">No debtors.</h3>

<div class="col-sm-12 col-md-10 offset-md-1 table-responsive">
    <table class="table table-hover table-sm table-striped w-100" *ngIf="debtors?.length > 0">
        <thead>
            <tr>
                <th class="pl-3">ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let debtor of debtors">
                <td class="text-muted py-2 pl-3">
                    <a [routerLink]="['details', debtor.id]" title="View debtor details">
                        {{ debtor.id }}
                    </a>
                </td>
                <td class="p-2">
                    <a [routerLink]="['details', debtor.id]" title="View debtor details">
                        <span *ngIf="debtor.company_name == null">{{ debtor.first_name }} {{ debtor.last_name }}</span><span *ngIf="debtor.company_name != null">{{ debtor.company_name }}</span>
                    </a>
                </td>
                <td class="p-2">
                    {{ debtor.email }}
                </td>
                <td class="p-2">
                    {{ debtor.address.city }}, {{ debtor.address.country }}
                </td>
                <td class="text-right py-2 pr-3">
                    <button class="btn-edit" [routerLink]="['edit', debtor.id]" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn-delete" type="button" (click)="deleteDebtor(debtor.id)" title="Remove">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <a href="#" [routerLink]="['add', 'no']" class="btn btn-primary btn-sm mt-3 mr-1" title="Add private debtor">
        <i class="fa fa-male"></i>
    </a>
    <a href="#" [routerLink]="['add', 'yes']" class="btn btn-primary btn-sm mt-3" title="Add business debtor">
        <i class="fa fa-building-o"></i>
    </a>

    <span class="btn btn-primary btn-sm mt-3 divider"></span>

    <a href="#" [routerLink]="['import']" class="btn btn-primary btn-sm mt-3" title="Add debtors by CSV">
        <i class="fa fa-file-excel-o"></i>
    </a>
</div>