<div class="container">

  <!-- Row -->
  <h3 class="text-center" *ngIf="companies.length == 0">No companies.</h3>
  <div class="row" *ngIf="companies.length > 0">
    <div class="col-sm-12 col-md-10 offset-md-1">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let company of companies">
          <a [routerLink]="['details', company.business_number]">
            {{company.company_name}} - {{company.email}}
          </a>
          <span class="list-icons">
            <button class="btn-edit" [routerLink]="['edit', company.business_number]" title="Edit">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn-delete" type="button" (click)="deleteCompany(company.business_number)" title="Remove">
              <i class="fa fa-trash"></i>
            </button>
          </span>
        </li>
      </ul>

      <a href="#" [routerLink]="['import']" class="btn btn-primary btn-sm mt-3" title="Add companies by CSV">
        <i class="fa fa-file-excel-o"></i>
      </a>
      <a href="#" [routerLink]="['add']" class="btn btn-primary btn-sm mt-3" title="Add company">
        <i class="fa fa-plus"></i>
      </a>

    </div>
  </div>

  <!-- End of container -->
</div>