/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~@ng-select/ng-select/themes/default.theme.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    min-width: 600px;
    width: auto !important;
    width: 600px;
    background-color: rgb(230, 230, 230);
}

#toasty .toast {
    bottom: 25px;
    padding: 5px;
}

.container .row form {
    min-height: 100vh;
    height: 100%;
}

.return {
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 5%;
}

.return i {
    font-size: 24px;
}

h4.text-muted {
    position: relative;
    text-align: left;
    padding: 20px 0px;
}

h4.text-muted span {
    background: rgb(230, 230, 230);
    padding: 0 15px 0 0;
    position: relative;
    z-index: 1;
}

h4.text-muted hr {
    border-color: #aaa;
    border-width: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
    overflow: hidden;
}

@media (max-width: 992px) {
    .return {
        top: 2%;
        left: 3%;
    }
    a.btn.btn-primary {
        width: 60%;
        height: 50px !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2.5;
    }
}