/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "vars.scss";

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    min-width: 600px;
    width: auto !important;
    width: 600px;
    background: #d5dae5;
}

#toasty .toast {
    bottom: 25px;
    padding: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.wrapper {
    background: $header-bg;
    color: $header-text;
    padding: 1rem 2rem;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Fieldset */

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 1.3rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: inherit;
    color: #4c5962;
    border: 0;
    border-bottom: 1px solid #b9bfca;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Data Table */

.data-table {
    width: 80%;
    height: auto;
    margin: 0 auto;

    .actions {
        display: flex;
        background-color: $navbar-primary;
        color: $navbar-text;
        height: 57px;
        padding: .8rem 1.5rem .2rem .7rem;
        border: 1px solid $navbar-primary;

        .buttons {
            flex: 50%;
            padding: 0;
            margin: 0 .2rem;

            a {
                font-size: .97rem;
                font-weight: 700;
            }

            i {
                display: none;
            }
        }

        .search {
            flex: 50%;
            margin-bottom: 2rem;
            padding: 0;

            .input-wrapper {
                position: relative;
                display: inline-block;
                text-align: center;
                width: 100%;
            }

            .input-icon {
                position: absolute;
                right: 15px;
                top: calc(50% - 0.5em);
                color: #757575;
            }
        }
    }

    .data {
        background-color: $header-bg;
        color: $header-text;

        table {
            width: 100.05%;
            border: none;

            thead {
                background-color: $navbar-primary;
                color: $navbar-text;

                tr {
                    th {
                        border: none;
                        padding-top: 1.5rem;
                    }

                    .pointer {
                        cursor: pointer;
                    }
                }
            }

            .data-row {
                border-bottom: 1px solid #b8bec9;
                height: 40px;
                font-size: 1rem;

                td {
                    padding: .75rem;
                    vertical-align: middle;
                    border-top: 1px solid #dee2e6;

                    a {
                        color: $link-color;
                        font-weight: 500;

                        &:hover {
                            color: darken($color: $link-color, $amount: $hover-darken);
                            text-decoration: none;
                        }
                    }

                    a.btn-download {
                        width: 30px;
                        height: 28px;
                        background: transparent;
                        border: none;
                        font-size: 1.2rem;
                        color: $download-color;
                        padding: 1px 6px;
                        text-align: center;

                        &:hover {
                            color: darken($color: $download-color, $amount: $hover-darken);
                            cursor: pointer;
                        }
                    }

                    .btn-edit {
                        width: 30px;
                        height: 28px;
                        background: transparent;
                        border: none;
                        font-size: 1.2rem;
                        color: $edit-color;
                        padding: 1px 6px;
                        text-align: center;

                        &:hover {
                            color: darken($color: $edit-color, $amount: $hover-darken);
                            cursor: pointer;
                        }
                    }

                    .btn-delete {
                        width: 30px;
                        height: 28px;
                        background: transparent;
                        border: none;
                        font-size: 1.2rem;
                        color: $delete-color;
                        padding: 1px 6px;
                        text-align: center;

                        &:hover {
                            color: darken($color: $delete-color, $amount: $hover-darken);
                            cursor: pointer;
                        }

                        i {
                            transform: translateY(-2px);
                        }
                    }
                }

                td:nth-child(1) {
                    padding-left: 1rem;
                }
            }
        }
    }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Pagination */

.pager {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    padding-top: 15px;

    .right {
        width: 50%;
        position: absolute;
        right: 0;

        button {
            width: 55px;
            position: relative;
            top: 50%;
        }

        button:nth-child(1) {
            background: $navbar-primary;
            border-color: $navbar-primary;
            position: absolute;
            right: 25px;
        }

        button:nth-child(2) {
            background: $navbar-primary;
            border-color: $navbar-primary;
            position: absolute;
            right: 85px;
        }
    }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Input */

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
    border: 1px solid #b8b8b8;
}

.custom-file-label {
    margin-left: 0 !important;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* Slider switch checkbox */

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-lg: 3rem;
$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #e9ecef;
$custom-control-description-disabled-color: #868e96;
$white: white;
$theme-colors: ('primary': #08d);

// These variables can be used to customize the switch component.
$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;

.switch {
    font-size: $font-size-base;
    position: relative;

    input {
        position: absolute;
        height: 1px;
        width: 1px;
        background: none;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;

        +label {
            position: relative;
            min-width: calc(#{$switch-height} * 2);
            border-radius: $switch-border-radius;
            height: $switch-height;
            line-height: $switch-height;
            display: inline-block;
            cursor: pointer;
            outline: none;
            user-select: none;
            vertical-align: middle;
            text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
        }

        +label::before,
        +label::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(#{$switch-height} * 2);
            bottom: 0;
            display: block;
        }

        +label::before {
            right: 0;
            background-color: $switch-bg;
            border-radius: $switch-border-radius;
            transition: $switch-transition;
        }

        +label::after {
            top: $switch-thumb-padding;
            left: $switch-thumb-padding;
            width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
            height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
            border-radius: $switch-thumb-border-radius;
            background-color: $switch-thumb-bg;
            transition: $switch-transition;
        }

        &:checked+label::before {
            background-color: $switch-checked-bg;
        }

        &:checked+label::after {
            margin-left: $switch-height;
        }

        &:focus+label::before {
            outline: none;
            box-shadow: $switch-focus-box-shadow;
        }

        &:disabled+label {
            color: $switch-disabled-color;
            cursor: not-allowed;
        }

        &:disabled+label::before {
            background-color: $switch-disabled-bg;
        }
    }

    // Small variation
    &.switch-sm {
        font-size: $font-size-sm;

        input {
            +label {
                min-width: calc(#{$switch-height-sm} * 2);
                height: $switch-height-sm;
                line-height: $switch-height-sm;
                text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
            }

            +label::before {
                width: calc(#{$switch-height-sm} * 2);
            }

            +label::after {
                width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked+label::after {
                margin-left: $switch-height-sm;
            }
        }
    }

    // Large variation
    &.switch-lg {
        font-size: $font-size-lg;

        input {
            +label {
                min-width: calc(#{$switch-height-lg} * 2);
                height: $switch-height-lg;
                line-height: $switch-height-lg;
                text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
            }

            +label::before {
                width: calc(#{$switch-height-lg} * 2);
            }

            +label::after {
                width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked+label::after {
                margin-left: $switch-height-lg;
            }
        }
    }

    +.switch {
        margin-left: 1rem;
    }
}
