<a class="return" [routerLink]="['/invoices']" title="Return">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row justify-content-around mt-3">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <form *ngIf="invoice">

            <h4 class="text-muted"><span>Invoice Information</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Debtor</label>
                    <app-debtor-dropdown (chosenDebtor)="getDebtorChoice($event)"></app-debtor-dropdown>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="created">Invoice Date</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="creation-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="date" name="creation_date" class="form-control" id="created" [min]="minDate"
                            [(ngModel)]="begin" (change)="setExpired()" aria-describedby="creation-addon" autofocus
                            required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="expired">Due Date</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="expiration-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="date" name="expiration_date" class="form-control" id="expired" [min]="minDate"
                            [(ngModel)]="expiration" aria-describedby="expiration-addon" required />
                    </div>
                </div>
            </div>

            <h4 class="text-muted"><span>Invoice Details</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="total">To be paid</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" name="total" class="form-control" id="total" [ngModel]="invoice.total | number: '1.2-2'"
                            (ngModelChange)="invoice.total=$event" readonly />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="discount">Discount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input class="form-control" name="discount" id="discount" [(ngModel)]="invoice.discount"
                            (change)="calculateTotal()" (blur)="calculateTotal(row)" required currencyMask />
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-sm table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Tax</th>
                                <th>Total</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" *ngFor="let row of invoice.items;let i = index">
                                <td data-title="Name">
                                    <input type="text" name="p_name" class="form-control form-control-sm" [(ngModel)]="row.name"
                                        required />
                                </td>
                                <td data-title="Desc">
                                    <input type="text" name="desc" class="form-control form-control-sm" [(ngModel)]="row.description" />
                                </td>
                                <td data-title="Price">
                                    <input name="price" class="form-control form-control-sm" [(ngModel)]="row.price"
                                        (change)="calculatePrice(row)" (blur)="calculatePrice(row)" currencyMask />
                                </td>
                                <td data-title="Quantity">
                                    <input type="number" name="qnt" class="form-control form-control-sm" [(ngModel)]="row.quantity"
                                        min="1" (change)="calculatePrice(row)" (blur)="calculatePrice(row)" required />
                                </td>
                                <td data-title="Tax">
                                    <input type="number" name="tax" class="form-control form-control-sm" [(ngModel)]="row.tax"
                                        min="0" required />
                                </td>
                                <td data-title="Total">
                                    <span style="font-weight: 500;">
                                        &euro; {{ row.total | number:'1.2-2' }}
                                    </span>
                                </td>
                                <td data-title="">
                                    <a *ngIf="i >= 1" class="btn-delete" (click)="deleteRow(row)" title="Remove">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary add" (click)="addRow()" title="Add">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="comment">Comment</label>
                    <textarea rows="3" name="comment" class="form-control" id="comment" [(ngModel)]="invoice.comment"></textarea>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary float-right" (click)="submitForm(false)">Save</button>
                    <button type="button" class="btn btn-primary float-right mr-1" (click)="submitForm(true)">Save as
                        concept</button>
                </div>
            </div>
        </form>
    </div>
</div>