<div class="row justify-content-around my-3">
    <div class="wrapper col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <form *ngIf="invoice">

            <!-- Invoice options -->
            <fieldset class="mb-3">
                <legend>Invoice Options</legend>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <span class="mr-3 pl-2">Recurring invoice</span>

                            <span class="switch switch-sm">
                                <input type="checkbox" class="switch" id="switch-id" (change)="changeForm($event)">
                                <label for="switch-id"></label>
                            </span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="input-group my-1" *ngIf="showRepeat">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="repeats" style="margin-left: 0px;">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </label>
                                </div>
                                <select name="repeats" id="repeats" class="custom-select" [(ngModel)]="recurring_invoice">
                                    <option selected>Select an option</option>
                                    <option value="week">Weekly</option>
                                    <option value="month">Monthly</option>
                                    <option value="year">Yearly</option>
                                </select>
                                <input class="form-control ml-1" name="repeat_times" id="repeat_times" type="number"
                                    min="1" [(ngModel)]="recurring_times" *ngIf="recurring_invoice != 'Select an option'" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <span class="mr-3 pl-2">Save as concept</span>

                            <span class="switch switch-sm">
                                <input type="checkbox" class="switch" id="switch-id-2" (change)="changeInvoiceType($event)">
                                <label for="switch-id-2"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Invoice -->
            <fieldset>
                <!-- Invoice information section -->
                <legend>Invoice Information</legend>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6">
                        <!-- Invoice date -->
                        <div class="form-group">
                            <label for="created">Invoice Date</label>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="creation-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="date" name="creation_date" class="form-control" id="created" [min]="minDate"
                                    [(ngModel)]="begin" (blur)="setExpired()" aria-describedby="creation-addon"
                                    autofocus required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <!-- Expiration date -->
                        <div class="form-group">
                            <label for="expired">Due Date</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="expiration-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="date" name="expiration_date" class="form-control" id="expired" [min]="minDate"
                                    [(ngModel)]="expiration" aria-describedby="expiration-addon" required />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <!-- Invoice items section -->
                <legend>Invoice Details</legend>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                    <th class="text-center"></th>
                                    <th class="text-center">
                                        <a class="btn add" (click)="addRow()" title="Add">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row" *ngFor="let row of invoice.items;let i = index">
                                    <td data-title="Name">
                                        <input type="text" name="p_name" class="form-control form-control-sm"
                                            [(ngModel)]="row.name" required />
                                    </td>
                                    <td data-title="Desc">
                                        <input type="text" name="desc" class="form-control form-control-sm" [(ngModel)]="row.description" />
                                    </td>
                                    <td data-title="Price">
                                        <input name="price" class="form-control form-control-sm" [(ngModel)]="row.price"
                                            (change)="calculatePrice(row)" (blur)="calculatePrice(row)" currencyMask />
                                    </td>
                                    <td data-title="Quantity">
                                        <input type="number" name="qnt" class="form-control form-control-sm"
                                            [(ngModel)]="row.quantity" min="1" (change)="calculatePrice(row)" (blur)="calculatePrice(row)"
                                            required />
                                    </td>
                                    <td data-title="Tax">
                                        <input type="number" name="tax" class="form-control form-control-sm"
                                            [(ngModel)]="row.tax" min="0" required />
                                    </td>
                                    <td data-title="Total">
                                        <span style="font-weight: 500;">
                                            &euro; {{ row.total | number:'1.2-2' }}
                                        </span>
                                    </td>
                                    <td data-title="">
                                        <a *ngIf="i >= 1" class="btn-delete" (click)="deleteRow(row)" title="Remove">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <!-- Extra section -->
                <legend>Extra</legend>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6">
                        <!-- Comment -->
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea rows="3" name="comment" class="form-control" id="comment" [(ngModel)]="invoice.comment"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
            </fieldset>

            <button type="button" class="btn btn-light float-right mt-5" routerLink="/invoices">Cancel</button>
            <button type="button" class="btn btn-primary mr-2 float-right mt-5" (click)="submitForm(true)">Save</button>
        </form>
    </div>
</div>
