<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <h3 class="text-center" *ngIf="invoices?.length == 0">No invoices.</h3>

        <table class="table table-hover table-sm table-condensed" *ngIf="invoices?.length > 0">
            <thead>
                <tr>
                    <th class="pl-3">Due date</th>
                    <th>Invoice Nr.</th>
                    <th>Total</th>
                    <th>Debtor</th>
                    <th>Paid</th>
                    <th>Concept</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td class="text-muted py-2 pl-3" data-title="Due date">{{ invoice.expired_on | date: 'MMMM dd,
                        yyyy' }}</td>
                    <td class="p-2" data-title="Invoice Nr.">
                        <a [routerLink]="['details', invoice.invoice_number]" title="View invoice details">
                            {{ settings.invoice_prefix }}{{ invoice.invoice_number }}
                        </a>
                    </td>
                    <td class="p-2" data-title="Total">
                        {{ getLocaleString(invoice.total) }}
                    </td>
                    <td class="p-2" data-title="Debtor">
                        {{ invoice.debtor.id }} - <span *ngIf="invoice.debtor.company_name == null">{{
                            invoice.debtor.first_name }} {{ invoice.debtor.last_name }}</span> <span *ngIf="invoice.debtor.company_name != null">{{
                            invoice.debtor.company_name }}</span>
                    </td>
                    <td class="p-2" data-title="Paid">
                        {{ invoice.is_paid == true ? 'Yes' : 'No' }}
                    </td>
                    <td class="p-2" data-title="Concept">
                        {{ invoice.concept == true ? 'Yes' : 'No' }}
                    </td>
                    <td class="text-right py-2 pr-3" date-title="">
                        <a href="{{href}}/api/invoices/pdf?invoice={{invoice.invoice_number}}" target="_blank" class="btn-download"
                            title="Open PDF">
                            <i class="fa fa-download"></i>
                        </a>
                        <button class="btn-edit" [routerLink]="['edit', invoice.invoice_number]" title="Edit" [hidden]="currentUser.role_id == 2">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn-delete" type="button" (click)="deleteInvoice(invoice.invoice_number)" title="Remove"
                            [hidden]="currentUser.role_id == 2">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group row" [hidden]="currentUser.role_id == 2">
            <div class="col-sm-12">
                <a [routerLink]="['create']" class="btn btn-primary mt-3 mr-1" title="Create invoice">
                    <i class="fa fa-plus"></i><span>Create invoice</span>
                </a>
            </div>
        </div>
    </div>
</div>