.btn-edit {
    background: transparent;
    border: none;
    font-size: 18px;
    color: green;
}

.btn-edit:hover {
    color: mediumseagreen;
    cursor: pointer;
}

.btn-delete {
    background: transparent;
    border: none;
    font-size: 18px;
    color: darkred;
}

.btn-delete:hover {
    color: red;
    cursor: pointer;
}

.table thead {
    background: dodgerblue;
    border: 2px solid dodgerblue;
    color: #fff;
}

.table thead th {
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

.table tbody tr {
    background: #fff;
}