.btn-edit {
    background: transparent;
    border: none;
    font-size: 18px;
    color: green;
}

.btn-edit:hover {
    color: mediumseagreen;
    cursor: pointer;
}

.btn-delete {
    background: transparent;
    border: none;
    font-size: 18px;
    color: darkred;
}

.btn-delete:hover {
    color: red;
    cursor: pointer;
}

.table thead {
    background: dodgerblue;
    border: 2px solid dodgerblue;
    color: #fff;
}

.table thead th {
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

.table tbody tr {
    background: #fff;
}

.form-group:last-child a.btn {
    width: auto;
    height: auto;

    i {
        display: block;
    }

    span {
        display: none;
    }
}

@media (max-width: 992px) {
    .table thead, .table tbody,
    .table th, .table td, .table tr {
        display: block;
    }

    a.btn.btn-primary {
        width: 60%;
        height: 50px !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2.5;
    }

    .form-group:last-child {
        text-align: center;
    }

    .form-group:last-child a.btn {
        width: 80%;
        text-align: center;

        span.btn {
            display: none;
        }

        i {
            display: none;
        }

        span {
            display: block;
        }
    }

    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table tbody tr {
        border: 1px solid dodgerblue;
    }

    .table tbody td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align: right;
    }

    .table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .table td:before {
        content: attr(data-title);
    }
}
