.list-group .list-group-item {
    font-size: 14px;
    line-height: 15px;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgb(128, 128, 128);
}

.list-group .list-group-item a {
    text-decoration: none;
}

.list-group .list-group-item .list-icons {
    position: relative;
    float: right;
    margin-right: 15px;
}

.list-group .list-group-item .list-icons a {
    font-size: 19px;
    margin-left: 4px;
}

.list-group .list-group-item .list-icons a:nth-child(1) {
    color: orange;
}

.list-group .list-group-item .list-icons a:nth-child(2) {
    color: darkred;
}

.list-group .list-group-item:hover {
    border: 1px solid dodgerblue;
    background-color: #f1f1f1;
}

.btn-edit {
    background: transparent;
    border: none;
    font-size: 18px;
    color: green;
}

.btn-edit:hover {
    color: mediumseagreen;
    cursor: pointer;
}

.btn-delete {
    background: transparent;
    border: none;
    font-size: 18px;
    color: darkred;
}

.btn-delete:hover {
    color: red;
    cursor: pointer;
}
