<section>
    <h4 class="text-center">Welcome, {{ user?.first_name }}</h4>
    <p class="lead text-center">
        Currently, there are
        <strong>
            <i>0 unpaid invoices.</i>
        </strong>
    </p>
</section>

<hr />

<div class="row text-center">
    <div class="col-sm-12 col-md-4 col-lg-4 my-3">
        <div id="chart-one" class="w-100" style="height:400px"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 my-3">
        <div id="chart-two" class="w-100" style="height:400px"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 my-3">
        <div id="chart-three" class="w-100" style="height:400px"></div>
    </div>
</div>