<div class="container">

  <!-- Row -->
  <div class="row">

    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="form-horizontal" *ngIf="currentUser">

        <!-- User ID and email -->
        <div class="form-row my-4">
          <div class="col-sm-12 col-md-6">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="currentUser.email">
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="currentUser.password">
          </div>
        </div>

        <hr />

        <!-- Names -->
        <div class="form-row my-4">
          <div class="col-sm-12 col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="currentUser.first_name">
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="currentUser.last_name">
          </div>
        </div>

        <button [disabled]="!currentUser.isValid()" id="btnSave" type="button" class="btn btn-primary float-right my-4" (click)="submitForm()">Create</button>

      </div>

      <!-- End of container -->
    </div>
