button.btn {
    width: 150px;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    transform: scale(1.5) translateY(-50%) !important;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(1.5);
    opacity: 1;
    transition: all .3s ease-in;
    color: red;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1);
    opacity: 1;
    color: green;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .8;
}

.form-group:last-child a.btn {
    width: auto;
    height: auto;

    i {
        display: block;
    }

    span {
        display: none;
    }
}

@media (max-width: 992px) {
    .table thead, .table tbody,
    .table th, .table td, .table tr {
        display: block;
    }

    .form-group:last-child {
        text-align: center !important;
    }

    button.btn.btn-primary {
        width: 60%;
        height: 50px !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        line-height: 2.5;
    }

    a.btn.btn-primary {
        margin-bottom: 2.5rem;
    }

    .form-group:last-child {
        text-align: center;
    }

    .form-group:last-child a.btn {
        width: 80%;
        text-align: center;

        span.btn {
            display: none;
        }

        i {
            display: none;
        }

        span {
            display: block;
        }
    }

    .table {
        margin-top: 1rem;
    }

    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table tbody tr {
        border: 1px solid dodgerblue;
    }

    .table tbody td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align: right;
    }

    .table tbody td > input {
        text-align: right;
    }

    .table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .table td:before {
        content: attr(data-title);
    }
}