<a class="return my-3" [routerLink]="['/invoices']" title="Return">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row justify-content-around">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <form *ngIf="invoice">

            <h4 class="text-muted"><span>Invoice Information</span></h4>
            <small class="text-muted" *ngIf="invoice.concept">Concept</small>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="number">Invoice Number</label>
                    <input type="text" name="invoice_num" class="form-control" id="number" [(ngModel)]="invoice.invoice_number" readonly />
                </div>
                <div class="col-sm-6">
                    <label for="debtor">Debtor</label>
                    <input type="text" name="debtor_id" id="debtor" readonly class="form-control" *ngIf="invoice.debtor.company_name == null" value="{{ invoice.debtor.id }}&emsp;{{ invoice.debtor.first_name }} {{ invoice.debtor.last_name }}" />
                    <input type="text" name="debtor_id" id="debtor" readonly class="form-control" *ngIf="invoice.debtor.company_name != null" value="{{ invoice.debtor.id }}&emsp;{{ invoice.debtor.company_name }}" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="created">Invoice Date</label>
                    <input type="date" name="creation_date" class="form-control" id="created" [ngModel]="invoice.created_on | date: 'yyyy-MM-dd'" (ngModelChange)="invoice.created_on=$event" />
                </div>
                <div class="col-sm-6">
                    <label for="expired">Due Date</label>
                    <input type="date" name="expiration_date" class="form-control" id="expiration" [ngModel]="invoice.expired_on | date: 'yyyy-MM-dd'" (ngModelChange)="invoice.expired_on=$event" />
                </div>
            </div>

            <h4 class="text-muted"><span>Invoice Details</span></h4>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="total">To be paid</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input name="total" class="form-control" id="total" [(ngModel)]="total" (blur)="calculateTotal()" currencyMask />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="discount">Discount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input name="discount" class="form-control" id="discount" [(ngModel)]="invoice.discount" (blur)="calculateTotal()" currencyMask />
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <table class="table table-sm table-striped w-100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Tax</th>
                                <th>Total</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" *ngFor="let row of invoice.items;let i = index">
                                <td>
                                    <input type="text" name="p_name" class="form-control form-control-sm" [(ngModel)]="row.name" readonly />
                                </td>
                                <td>
                                    <input type="text" name="desc" class="form-control form-control-sm" [(ngModel)]="row.description" readonly />
                                </td>
                                <td>
                                    <input type="text" name="price" class="form-control form-control-sm" [ngModel]="row.price | number: '1.2-2'" (ngModelChange)="row.price=$event" readonly />
                                </td>
                                <td>
                                    <input type="number" name="qnt" class="form-control form-control-sm" [(ngModel)]="row.quantity" min="1" (change)="calculatePrice(row)" (blur)="calculatePrice(row)" readonly />
                                </td>
                                <td>
                                    <input type="number" name="tax" class="form-control form-control-sm" [(ngModel)]="row.tax" min="0" readonly />
                                </td>
                                <td style="line-height:2;">
                                    <span style="font-weight: 500;">
                                        &euro; {{ row.price * row.quantity | number: '1.2-2' }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="comment">Comment</label>
                    <textarea rows="3" name="comment" class="form-control" id="comment" [(ngModel)]="invoice.comment"></textarea>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <br />

            <button type="button" class="btn btn-primary float-right my-4" (click)="submitForm(false)">Save</button>
            <button type="button" class="btn btn-primary float-right my-4 mr-1" (click)="submitForm(true)">Save as concept</button>
        </form>
    </div>
</div>