<div class="row justify-content-around my-3">
    <div class="wrapper col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <form>
            <fieldset class="mb-3">
                <legend>CSV Upload</legend>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6 mx-auto">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="fileInput-addon">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="custom-file">
                                <input id="fileInput" name="debtor_csv" class="custom-file-input" #fileInput type="file"
                                    accept=".csv" title="Choose a CSV file to upload" (change)="setFileName()"
                                    aria-describedby="fileInput-addon" />
                                <label class="custom-file-label" for="fileInput">{{ fileLabel }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <button type="button" class="btn btn-light float-right mt-2" routerLink="/users">Cancel</button>
        </form>
    </div>
</div>
