<a class="return" [routerLink]="['/users']" title="Return">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row justify-content-around mt-3">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
        <form>
            <h4 class="text-muted"><span>>CSV Upload</span></h4>

            <div class="form-row">
                <div class="col-sm-12 col-md-6 mx-auto">
                    <label for="fileUpload">Please choose a csv file to upload</label>
                    <input type="file" class="form-control-file" id="fileUpload" (change)="upload($event)">
                </div>
            </div>
        </form>
    </div>
</div>