.login-card {
    width: 33vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #616161;
}

.login-card mat-card-header mat-card-title h2 {
    margin-bottom: 2.5rem;
}

.login-card mat-card-content {
    text-align: center;
}

.sign-in {
    float: right;
}
