<a class="return my-3" [routerLink]="['/debtors']" title="Return">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 mx-auto table-responsive">
        <form *ngIf="debtor">
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                    <label for="id" *ngIf="forCompany">Business Number</label>
                    <label for="id" *ngIf="!forCompany">Social Security Number</label>
                    <input type="text" name="id" class="form-control" id="id" [(ngModel)]="debtor.id" autofocus>
                </div>

                <div class="col-lg-1"></div>

                <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto"></div>
            </div>

            <hr class="my-3" />

            <ng-container *ngIf="!forCompany">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                        <label for="firstName">First Name</label>
                        <input type="text" name="f_name" class="form-control" id="firstName" [(ngModel)]="debtor.first_name">
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="l_name" class="form-control" id="lastName" [(ngModel)]="debtor.last_name">
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="forCompany">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                        <label for="companyName">Company Name</label>
                        <input type="text" name="company" class="form-control" id="companyName" [(ngModel)]="debtor.company_name">
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto"></div>
                </div>
            </ng-container>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="debtor.email">
                </div>

                <div class="col-lg-1"></div>

                <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" class="form-control" id="phone" [(ngModel)]="debtor.phone">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                    <label for="bank">Bank Account</label>
                    <input type="text" name="bank" class="form-control" id="bank" [(ngModel)]="debtor.bank_account">
                </div>

                <div class="col-lg-1"></div>

                <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto"></div>
            </div>

            <hr class="my-3" />

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-5 ml-auto">
                    <label for="street">Street</label>
                    <input type="text" name="street" class="form-control" id="street" [(ngModel)]="address.street">
                </div>
                <div class="form-group col-md-1 col-lg-1"></div>
                <div class="form-group col-sm-8 col-md-2 col-lg-2">
                    <label for="number">Number</label>
                    <input type="number" name="num" class="form-control" id="number" [(ngModel)]="address.number">
                </div>
                <div class="form-group col-sm-4 col-md-1 col-lg-1 mr-auto">
                    <label for="suffix">Suffix</label>
                    <input type="text" name="suffix" class="form-control" id="suffix" [(ngModel)]="address.suffix">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-4 col-lg-4 ml-auto">
                    <label for="postal">Postal Code</label>
                    <input type="text" name="postal" class="form-control" id="postal" [(ngModel)]="address.postal_code">
                </div>

                <div class="col-lg-1"></div>

                <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city" [(ngModel)]="address.city">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 ml-auto">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country" [(ngModel)]="address.country">
                </div>

                <div class="col-lg-1"></div>

                <div class="form-group col-sm-12 col-md-6 col-lg-4 mr-auto"></div>
            </div>

            <button [disabled]="!debtor.isValid() && !address.isValid()" id="btnSave" type="button" class="btn btn-primary float-right mt-4" (click)="submitForm()">Create</button>
        </form>
    </div>
</div>