::ng-deep .mat-card-header-text {
    flex: 1;
}

.content-card mat-card-actions a {
    float: right;
    width: 180px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.content-card mat-card-actions a:hover {
    text-decoration: none;
}

.profile-picture {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
