<mat-card class="content-card mat-elevation-z15">
    <mat-card-header>
        <a mat-icon-button class="return" [routerLink]="['/debtors']" title="Return">
            <mat-icon>keyboard_backspace</mat-icon>
        </a>

        <mat-card-title class="text-center">
            <h2>Create Debtor</h2>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="debtor && address">
            <fieldset>
                <legend>{{ debtor.company_name != null ? 'Business Information' : 'Personal Information' }}</legend>
                <table cellspacing="0">
                    <tr>
                        <td class="half-width-field">
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix *ngIf="forCompany">domain</mat-icon>
                                <mat-icon matPrefix *ngIf="!forCompany">person_outline</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.id" placeholder="{{ debtor.company_name != null ? 'Business Number' : 'Social Security Number'}}" name="id" disabled tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="debtor.company_name != null" class="half-width-field">
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>text_format</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.company_name" placeholder="Company Name" name="cname" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="debtor.company_name == null">
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>account_box</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.first_name" placeholder="First Name" name="fname" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>account_box</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.last_name" placeholder="Last Name" name="lname" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>alternate_email</mat-icon>
                                <input type="email" matInput [(ngModel)]="debtor.email" placeholder="E-mail" name="email" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>phone</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.phone" placeholder="Phone" name="phone" tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="half-width-field">
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>account_balance</mat-icon>
                                <input type="text" matInput [(ngModel)]="debtor.bank_account" placeholder="Bank Account" name="bank_account" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>Address</legend>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.street" placeholder="Street" name="street" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.number" placeholder="Number" name="num" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.suffix" placeholder="Suffix" name="suffix" tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.postal_code" placeholder="Postal Code" name="postal" required tabindex="1" />
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.city" placeholder="City" name="city" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width-field">
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" matInput [(ngModel)]="address.country" placeholder="Country" name="country" required tabindex="1" />
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button class="mat-elevation-z2" mat-flat-button color="primary" (click)="submitForm()">Save</button>
    </mat-card-actions>
</mat-card>